.headerpersonal {
  background-image: url("Images/BANNER.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

body {
  padding-top: 50px;
}



h1 {
  color: #008CD0;
  text-align: center;
  font-family: sans-serif;
}
.boton1
{
  color: black;
  font-size: 150%;
  background-color: #ffffff;
  z-index: 4;
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
}

.boton1 a {
  color: #008CD0;
}
.seccionnoticias {
  margin-top: 20px;
}
.noticia {
  border-style: solid;
  border-width: medium;
  border-color: #008CD0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.justify
{
  text-align:justify;
}
h3 {
  text-align: center;
}

.socialmedia {
  height: 10vh;
  padding-top: 10px;
  box-sizing: border-box;
}

.jumbotron {
  background-color: #008CD0;
}

.map {
  padding-top: 10px;
  box-sizing: border-box;
}

.form-group {
  box-sizing: border-box;
  margin: 0px;
}
.bigicon {
  color: #008CD0;
  font-size: 800%;
}

a {
  color: white;
}



.equipo {
  margin-top: 30px;
  margin-bottom:30px;
}

.blogicon {
  color: #008CD0;
  font-size: 150%;
}

@media (max-width: 1400px) and (min-width: 970px){


.colaborabutt { margin-top: 250px
}

}

@media (max-width: 969px) and (min-width: 0px){


.colaborabutt { margin-top: 100px
}

}
